.shimmer-card
    {
        height: 300px;
        width: 200px;
        border: 1px solid black;
        display: flex;
        flex-direction: column;
        transition: 0.2s;
        background-color: #f0f0f0;
        margin-top: 100px;
    }
