.Outer-Container
{
    width: 100vw;
    height: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    background-color: red;
}

.middle
{
    width: 70%;
    background-color: aqua;
    display: flex;
    position: relative;
}
.middle input
{
    width: 100%;
    height: 100%;
}

.search-bar
{
    position: absolute;
    right: 25;
    bottom: 0;
    top: 5;
    cursor: pointer;
}
