.res-card
    {
        height: 300px;
        width: 200px;
        border: 1px solid black;
        display: flex;
        flex-direction: column;
        transition: 0.2s;
        cursor: pointer;
    }
    .res-card:hover
    {
        background-color: #f0f0f0;
        transform: scale(1.1);
    }

    .res-image
    {
        height: 35%;
        width: 100%;
        border: 1px solid black;
        display: block;
    }

    .res-image img
    {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .resc-desc
    {
        margin: 0;
        padding: 0;
        height: 65%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .resc-desc li
    {
        width: 100%;
        height: 25%;
        text-align: center;
    }
    .star-section
    {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 24px;
    }
